// colors
$bg-main: #ffffff;
$white: #ffffff;
$crimson: crimson;

// font-size, line-height, ff
$fs-default: 14px;
$lh-default: 18px;
$ff-default: "Kelvetica", "Arial", sans-serif;

// width
$tablet-width: 780px;
$desktop-width: 1170px;
